{
  "printWidth": 140,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "proseWrap": "always",
  "arrowParens": "always",
  "endOfLine": "lf",

  "importOrder": ["react", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false
}
